.rootVisible,
.rootInvisible {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  position: absolute;
  top: 80px;
  right: 40px;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
  text-transform: none;
  font-size: 18px;
}

.listItemWrapper {
  padding: 5px 10px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.listItemWrapper:hover {
  background-color: #6909a3;
  color: floralwhite;
  transition: 300ms ease-in-out;
  border-radius: 6px;
}

.rootInvisible {
  display: none;
}

.line {
  width: 90%;
}