.rootVisible,
.rootInvisible,
.rootDarkMode,
.rootVisibleMobile,
.rootDarkModeMobile
{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  position: absolute;
  top: 80px;
  right: 55px;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
  text-transform: none;
  font-size: 18px;
}

.rootVisibleMobile,
.rootDarkModeMobile {
  display: none;
  left: 10px;
}

.rootInvisible {
  display: none;
}

.rootDarkMode,
.rootDarkModeMobile
{
  background-color: #383E47;
  box-shadow: #DCE0E5 0 2px 4px 0, #DCE0E5 0 2px 16px 0;
  opacity: 0.9;
}

.listItemWrapper,
.listItemWrapperDark,
.listItemWrapperHelloween,
.chosenItem,
.chosenItemDarkMode,
.chosenItemHelloweenMode
{
  padding: 5px 10px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  border-radius: 6px;
}

.chosenItem {
  background-color: #6909a3;
  color: floralwhite;
}

.chosenItemDarkMode {
  background-color: #DCE0E5;
  color: #383E47;
}

.chosenItemHelloweenMode {
  background-color: #EB6847;
  color: #404854;
}

.listItemWrapper:hover,
.listItemWrapperDark:hover,
.listItemWrapperHelloween:hover
{
  transition: 200ms ease-in-out;
  border-radius: 6px;
}

.listItemWrapper:hover {
  background-color: #D69FD6;
  color: #252A31;
}

.listItemWrapperDark:hover {
  background-color: #DCE0E5;
  color: #252A31;
  opacity: 0.7;
}

.listItemWrapperHelloween:hover {
  background-color: #FF9980;
  color: #252A31;
}

@media all and (min-width: 430px) {
  .rootVisibleMobile,
  .rootDarkModeMobile {
    display: flex;
    right: 0;
    width: 150px;
  }
}