.menuButtonContainer {
  position: relative;

  .menuButtonWrapper {
    width: 160px;
    height: 160px;
    border: lightsteelblue 6px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
    cursor: pointer;

    .menuButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: lightsteelblue;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      transition: 500ms ease-in-out;
    }
  }

  .aboutMeButtonWrapper {
    position: absolute;
    top: 0;
    left: -65px;
    rotate: -50deg;
  }

  .skillsButtonWrapper {
    position: absolute;
    top: 0;
    right: -65px;
    rotate: 50deg;
  }

  .projectsButtonWrapper {
    position: absolute;
    bottom: 0;
    left: -65px;
    rotate: -130deg;
  }

  .contactButtonWrapper {
    position: absolute;
    bottom: 0;
    right: -65px;
    rotate: 130deg;
  }

  .menuButton:hover {
    background-color: #8fabe8;
    //color: white;
    transition: 400ms ease-in-out;
  }
}

//.menuButtonWrapper:hover {
//  border-color: cornflowerblue;
//  transition: 500ms ease-in-out;
//}