.optionButtonContainer {
  position: relative;

  .optionButton,
  {
    width: 130px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    text-align: center;
    font-size: 14px;
    background-color: white;
    z-index: 0;
  }

  .roundBottomDiv {
    position: absolute;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    background-color: #eeeeee;
    width: 132px;
    height: 15px;
    z-index: 1;
    bottom: -1px;
    left: -1px;
  }
}