.root {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .greetingsTitle {
    font-size: 30px;
  }

  .greetingsParagraph {
    font-size: 24px;
  }
}