.root {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 28px;

  .profileImage {
    height: 70%;
    width: auto;
    border-radius: 50%;
  }
}
