.switcherContainer {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  position: absolute;
  bottom: 35px;

  .titleLight {
    color: #5d5d5d;
  }

  .titleDark {
    color: #DCE0E5;
  }

  .switchCircleWrapper,
  .switchCircleWrapperOff,
  .switchCircleWrapperOn,
  .switchCircleWrapperOnDarkMode,
  .switchCircleWrapperOnHelloweenMode
  {
    width: 50px;
    height: 25px;
    border: 1px #5d5d5d solid;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    .switcher,
    .switcherOff,
    .switcherOn,
    .switcherOnDarkMode,
    .switcherOnHelloweenMode
    {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      bottom: -2.5px;
    }

    .switcherOff {
      left: -2.5px;
      background-color: #5d5d5d;
    }

    .switcherOn {
      right: -2.5px;
      background-color: #6909a3;
    }

    .switcherOnDarkMode {
      right: -2.5px;
      background-color: #738091;
    }

    .switcherOnHelloweenMode {
      right: -2.5px;
      background-color: #EB6847;
      border: 1px solid #b4b4b4;
    }
  }

  .switchCircleWrapperOff {
    background-color: #b4b4b4;
  }

  .switchCircleWrapperOn {
    background-color: #ac87c3;
  }

  .switchCircleWrapperOnDarkMode {
    background-color: #DCE0E5;
  }

  .switchCircleWrapperOnHelloweenMode {
    background-color: #EB6847;
  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
 .switcherContainer {
   display: none;
 }
}