.root,
.darkRoot {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
  background-color: #F6F7F9;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;

  .arrowLeftActive,
  .arrowRightActive,
  .arrowRight,
  .arrowRightInactive,
  .arrowLeftInactive {
    width: 62px;
    height: 62px;
  }

  .arrowRight,
  .arrowRightInactive,
  .arrowRightActive {
    transform: rotate(180deg);
  }

  .arrowLeftInactive,
  .arrowRightInactive {
    opacity: 20%;
    cursor: pointer;
    padding: 10px;
  }

  .arrowLeftActive,
  .arrowRightActive {
    opacity: 80%;
    cursor: pointer;
    padding: 10px;
    transition: 200ms ease-in-out;
  }

  .arrowLeftActive:hover,
  .arrowRightActive:hover {
    background-color: #e5e5e5;
    //opacity: 60%;
    transition: 200ms ease-in-out;
  }
}

.darkRoot {
  background-color: #404854;
}

@media all and (min-width: 320px) and (max-width: 425px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 80px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: -3px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 0;
    }
  }
}

@media all and (min-width: 426px) and (max-width: 500px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 90px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: -3px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 0;
    }
  }
}

@media all and (min-width: 501px) and (max-width: 600px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 100px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: -3px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 0;
    }
  }
}

@media all and (min-width: 601px) and (max-width: 700px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 110px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: 10px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 10px;
    }
  }
}

@media all and (min-width: 701px) and (max-width: 800px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 130px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: 40px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 40px;
    }
  }
}

@media all and (min-width: 801px) and (max-width: 1023px) {
  .root,
  .darkRoot {
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
    align-items: flex-start;

    .arrowLeftActive,
    .arrowRightActive,
    .arrowRight,
    .arrowRightInactive,
    .arrowLeftInactive {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 140px;
      z-index: 1;
    }

    .arrowLeftActive,
    .arrowLeftInactive {
      left: 65px;
    }

    .arrowRight,
    .arrowRightInactive,
    .arrowRightActive {
      right: 65px;
    }
  }
}