.root,
.darkRoot
{
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
  background-color: #F6F7F9;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;

  .arrowRight,
  .arrowRightInactive,
  .arrowRightActive
  {
    transform: rotate(180deg);
  }

  .arrowLeftInactive,
  .arrowRightInactive {
    opacity: 20%;
    cursor: pointer;
    padding: 10px;
  }

  .arrowLeftActive,
  .arrowRightActive {
    opacity: 80%;
    cursor: pointer;
    padding: 10px;
    transition: 200ms ease-in-out;
  }

  .arrowLeftActive:hover,
  .arrowRightActive:hover {
    background-color: #e5e5e5;
    //opacity: 60%;
    transition: 200ms ease-in-out;
  }
}

.darkRoot {
  background-color: #404854;
}