.root,
.darkRoot {
  background-color: #eeeeee;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  box-sizing: border-box;

  .listMenu {
    display: none;
  }

  .navigation {
    display: flex;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    margin-right: 30px;

    .menu {
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
  }

  .menu:hover {
    color: #6909a3;
    height: 19px;
    transition: 200ms ease-in-out;
    box-sizing: border-box;
  }
}

.darkRoot {
  background-color: #383E47;
  color: #DCE0E5;
}

@media all and (min-width: 430px) {
  .root,
  .darkRoot {
    justify-content: flex-start;

    .listMenu {
      display: block;
      margin-left: 30px;
      width: 40px;
      height: 40px;
    }

    .navigation {
      display: none;
    }
  }
}