.root {
  align-items: center;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
  height: 100px;
  justify-content: flex-end;
  padding-right: 30px;
  width: 100%;

  .image,
  .x_ixon {
    height: 32px;
    width: 32px;

    &:hover {
      opacity: 0.6;
    }
  }

  .x_ixon {
    background-color: black;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 6px;
  }
}

